body{
    margin: 0;
    padding: 0;
}
body * {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.df{
    display: flex;
}
.dn{
    display: none;
}
.j-spc-btw{
    justify-content: space-between;
}
.j-center{
    justify-content: center;
}
.a-center{
    align-items: center;
}
.f-wrap{
    flex-wrap: wrap;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.container.small{
    max-width: 1000px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.header-top{
    background: #164193;
}

.header-top-content{
    height: 55px;
    align-items: center;
    width: 100%;
}
.header-top-left{
    height: 100%;

}
.header-top-right{
    height: 100%;
    display: flex;
    align-items: center;
}
.header-top-left p{
    color: #D9E021;
    font-family: 'Helvetica',sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    padding-left: 38px;
    background: url('../images/vosk-znak.png') no-repeat left center;
    background-size: 32px;
    height: 100%;
    display: flex;
    align-items: center;
}
.header-top-right p{
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    font-family: Times, Times New Roman, Georgia, serif;
    margin-right: 30px;
}
.social-tg{
    width: 32px;
    height: 32px;
    display: flex;
    background: url('../images/konakt-telegramm.png') no-repeat;
    background-size: 100%;
}
.social-whatsapp{
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    background: url('../images/konakt-whatsapp.png') no-repeat left center;
    background-size: 32px 32px;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: Times, Times New Roman, Georgia, serif;
    font-weight: bold;
    line-height: 19px;
    color: #fff;
    margin-right: 26px;
}
.header-contacts{
    gap: 5px;
}
.lang-item{
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
.lang-item:hover span{
    font-weight: bold;
}
nav{
    height: 55px;


}
nav.sticky{
    background: url('../images/fon-gor-menu.jpg') no-repeat center center;
    background-size: cover;
}
.nav-logo{
    visibility: hidden;
}
nav.sticky .nav-logo{
    visibility: visible;
}
.nav-content{
    padding-left: 100px;
    padding-right: 35px;
}
.menu{
    list-style: none;
    background-color: #0D3D8D;
    padding-right: 10px;
    padding-left: 0;
    gap: 20px;
}
.menu-item{
    position: relative;
}
.menu-link{
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    font-family: Times, Times New Roman, Georgia, serif;
    font-weight: bold;
}
.menu > .menu-item:first-child{
    padding-left: 20px;
}
.sub-menu{
    list-style: none;
    background-color: #0D3D8D;
    padding: 0;
    min-width: 194px;

}
.collapsable {
    position: absolute;
    left: 0;
    overflow: hidden;
    -webkit-transition: max-height .5s ease;
    -moz-transition: max-height .5s ease;
    transition: max-height .5s ease;
    background:#ccc;
}
.collapsed {
    max-height:0;
}
.sub-menu-product{
    min-width: 269px;
    left: 50%;
    transform: translateX(-50%);
}
.sub-menu-review{
    min-width: 118px;
    left: 50%;
    transform: translateX(-50%);
}
.sub-menu-partners{
    min-width: 164px;
    left: 50%;
    transform: translateX(-50%);
}
.sub-menu-partners .sub-menu{
    padding-bottom: 20px;

}
.sub-menu .menu-item{
    text-align: center;
}
.sub-menu .menu-link{
    font-size: 16px;
    text-transform: uppercase;
    font-family: Times, Times New Roman, Georgia, serif;
    line-height: 22px;
    font-weight: 400;
    width: 100%;
}
.banner{
    background: url('../images/head-index.jpg') no-repeat center bottom;
    background-size: cover;
    margin-top: 55px;
    padding-bottom: 107px;
}
.banner-logo{
    width: 320px;
    height: 123px;
    background: url('../images/logo-podlogka.png') no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.banner-title{
    padding-left: 108px;
    margin-top: 33px;
    line-height: 62px;
    color: #0059A3;
    font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
    font-size: 52px;
    font-weight: 400;
    margin-bottom: 15px;
}
.banner-sub{
    padding-left: 108px;
    font-size: 36px;
    line-height: 43px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    margin-bottom: 22px;
}
.banner-text{
    font-size: 30px;
    color: #FFFFFF;
    line-height: 36px;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
    padding-left: 108px;
    max-width: 543px;
}
.banner-right{
    padding-top: 80px;
}
.banner-form{
    max-width: 824px;
    min-height: 172px;
    background-color: #0D3D8D;
    border-radius: 20px;
    margin: 0 auto 21px;
    width: 100%;
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 23px;
    padding-right: 23px;
}
.form-title{
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}
.form-input{
    width: 250px;
    height: 39px;
    padding: 6px;
    border-radius: 10px;
    color: #1B1464;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: 18px;
    font-style: italic;
    border: none;
    outline: none;
}
::placeholder {
    color: #1B1464;
    opacity: 1;
}

::-ms-input-placeholder {
    color: #1B1464;
}
.btn-yellow{
    border: none;
    background-color: #FFFF00;
    border-radius: 10px;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #0D3D8D;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
    width: 230px;
    height: 39px;
}
.banner-form form{
    width: 100%;
}

.banner-form .form-row{
    width: 100%;
}
.banner-info{
    max-width: 943px;
    margin: 0 auto 34px;
    font-size: 24px;
    text-align: justify;
    color: #FFFFFF;
    line-height: 29px;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}
.banner-features{
    max-width: 1000px;
    margin: 0 auto;
    gap: 100px;
}
.feature-title{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    line-height: 22px;
    font-family: Times, Times New Roman, Georgia, serif;
}
.feature-item{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
.technologies{
    background: url('../images/fon-video.jpg') no-repeat center center  ;
    background-size: cover;
    max-width: 1350px;
    width: 100%;
    margin: -190px auto 0;
    padding-bottom: 435px;
    overflow: hidden;
}
.technologies-title{
    text-transform: uppercase;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    font-family: Times, Times New Roman, Georgia, serif;
    font-weight: 400;
    padding-top: 200px;
    margin-bottom: 83px;
}
.technologies-video{
    width: 760px;
    height: 515px;
    margin: 0 auto;
}
.technologies-video iframe{
    width: 100%;
    height: 100%;
}
.author{
    background: url('../images/fon-in.jpg') no-repeat left top;
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
}
.author-img img{
    border-radius: 100%;
    overflow: hidden;
}
.product-title{
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    color: #0071BB;
    line-height: 43px;
    font-weight: 400;
    font-family: Times, Times New Roman, Georgia, serif;
    margin-top: 40px;
    margin-bottom: 75px;
}
.product-list{
    gap: 61px 115px;
}
.product-item-title{
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
    text-align: center;
    color: #4C4C4C;
    font-family: Times, Times New Roman, Georgia, serif;
    font-weight: bold;
    margin-bottom: 17px;
    margin-top: 9px;
}
.product-item-text{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    margin-bottom: 13px;
    max-width: 385px;
}
.product-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-item-price{
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #0D3D8D;
    font-family: Times, Times New Roman, Georgia, serif;
    font-weight:  bold;
    margin-bottom: 10px;
}
.product-item-more{
    border: 1px solid #164193;
    border-radius: 5px;
    width: 210px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0D3D8D;
    font-family:Helvetica, Helvetica Neue, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}
.about{
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;

}
.container.large{
    max-width: 1350px;

}
.about-content{
    background: url('../images/fon-3-blok.jpg') no-repeat center center;
    background-size: cover;
    min-height: 625px;
    gap: 38px;
}
.about-content-left{
    padding-top: 165px;
    padding-left: 50px;
}

.about-content-right{
    padding-top: 165px;
    padding-right: 50px;
}
.about-title{
    text-transform: uppercase;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    font-family: Times, Times New Roman, Georgia, serif;
    font-weight: 400;
    margin-bottom: 32px;
}
.about-content p{
    font-size: 20px;
    text-align: justify;
    color: #FFFFFF;
    line-height: 24px;
    font-family: Times, Times New Roman, Georgia, serif;
}
.about-effect{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    gap: 70px;
}
.effect-title{
    text-transform: uppercase;
    font-size: 22px;
    color: #0059A3;
    line-height: 26px;
    font-family: Times, Times New Roman, Georgia, serif;
    margin-top: 5px;
    margin-bottom: 21px;
}
.effect-title span{
    font-weight: 400;
}
.effect-list{
    list-style: none;
}
.effect-item{
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 24px;
    color: #4C4C4C;
    font-family: Times, Times New Roman, Georgia, serif;
    position: relative;
}
.effect-item:before{
    content: '';
    width: 21px;
    height: 18px;
    background: url('../images/chek-box-zelen.jpg') no-repeat;
    position: absolute;
    top: 0;
    left: -31px;
}
.effect-right{
    max-width: 476px;
    width: 100%;
}
.effect-right img{
    width: 100%;
    margin-top: -160px;
    border: 8px solid #fff;
    border-radius: 100%;
}
.certificate{
    background: url('../images/fon-sertifikat.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 60px;
    margin-bottom: 100px;
}
.about-certificate{
    gap: 46px;
}
.certificate-title{
    text-transform: uppercase;
    font-size: 26px;
    line-height: 31px;
    color: #164193;
    font-family: Times, Times New Roman, Georgia, serif;
    font-weight: 400;
    margin-bottom: 52px;
}
.certificate-left p{
    line-height: 26px;
    font-size: 22px;
    text-align: justify;
    color: #FFFFFF;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 26px;
}
.certificate-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.certificate-right img{
    width: 350px;
}
.company{
    margin-top: 100px;
}
.company-title{
    font-size: 36px;
    color: #164193;
    line-height: 43px;
    font-family: Times, Times New Roman, Georgia, serif;
    font-weight: bold;
    max-width: 895px;
    width: 100%;
    margin-bottom: 100px;
}
.company-content{
    gap: 20px;
}
.company-content p{
    font-size: 20px;
    text-align: justify;
    line-height: 24px;
    font-family: Times, Times New Roman, Georgia, serif;
}
.company-text-with-bg{
    color: #fff;
    background: url('../images/fon-tex.jpg') no-repeat center center;
    background-size: 100% 100%;
    min-height: 83px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
    margin-bottom: 20px;

}
.store{
    background: url('../images/fon-gays.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 110px;
    margin-top: 100px;
    padding-bottom: 100px;
}
.store-title{
    text-transform: uppercase;
    font-size: 60px;
    color: #0071BC;
    line-height: 72px;
    font-family: Times, Times New Roman, Georgia, serif;
    font-weight: bold;
    margin-bottom: 20px;
}
.store-sub{
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    font-family: Times, Times New Roman, Georgia, serif;
    max-width: 542px;
    width: 100%;
    font-weight: 400;
    margin-bottom: 50px;
}
.store-text{
    font-size: 24px;
    color: #0D3D8D;
    line-height: 29px;
    font-family: Times, Times New Roman, Georgia, serif;
    font-weight: bold;
    max-width: 663px;
    width: 100%;
    margin-bottom: 30px;
}
.store-features{
    list-style: none;
    padding-left: 0;
    margin-bottom: 50px;
}
.store-features li{
    text-transform: uppercase;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 26px;
    font-family: Times, Times New Roman, Georgia, serif;
    font-weight: bold;
    max-width: 625px;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}
.store-content{
    padding-left: 50px;
}
.store-features li:after{
    content: '';
    position: absolute;
    left: -42px;
    top: 0;
    width: 32px;
    height: 23px;
    background: url('../images/chek-box-white.png') no-repeat;
}
.btn-store{
    width: 235px;
    height: 49px;
    background: #d9e01f;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #777835;
    margin-left: 50px;
    font-family:  Helvetica Neue,Arial,  Helvetica, sans-serif;
}
.piramida-title{
    text-transform: uppercase;
    font-size: 36px;
    line-height: 43px;
    color: #164193;
    font-family: Times, Times New Roman, Georgia, serif;
    margin-bottom: 10px;
}
.piramida-sub{
    text-transform: uppercase;
    font-size: 22px;
    color: #4C4C4C;
    line-height: 26px;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}
.piramida-info p{
    line-height: 24px;
    font-size: 20px;
    text-align: justify;
    color: #000000;
    font-family: Times, Times New Roman, Georgia, serif;
    font-weight: bold;
}
.piramida-info{
    gap: 20px;
    margin-bottom: 30px;
}
.product-piramida{
    position: relative;
    padding-top: 100px;
}
.product-piramida img{
    position: absolute;
    right: 150px;
    top: -150px;
}
.author-title{
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    text-align: left;
    color: #164193;
    font-family: Times, Times New Roman, Georgia, serif;
    font-weight: bold;
    max-width: 1123px;
    width: 100%;
}
.author-info{
    gap: 50px;
    padding-left: 50px;
}
.author-text h4{
    line-height: 36px;
    font-size: 30px;
    text-align: left;
    color: #484848;
    font-family: Times, Times New Roman, Georgia, serif;
    font-weight: bold;
    margin-bottom: 20px;
}
.author-text h6{

    line-height: 22px;
    font-size: 18px;
    text-align: left;
    color: #0B6AC5;
    font-family: Times, Times New Roman, Georgia, serif;
    font-weight: bold;
}
.author-text h6:nth-child(4){
    margin-bottom: 10px;
}
.author-text p{
    padding-left: 100px;
    font-size: 18px;
    text-align: justify;
    color: #4D4D4D;
    line-height: 22px;
    font-family: Times, Times New Roman, Georgia, serif;
    padding-right: 100px;
}
.author-text{
    margin-top: -20px;
}
.author-text p:last-child{
    position: relative;
    z-index: 1  ;
    color: #fff;
    padding-top: 58px;
    padding-right: 180px;
    padding-bottom: 50px;
}
.author-text p:last-child:after{
    content: '';
    max-width: 995px;
    width: 100%;
    height: 195px;
    background: url('../images/list.png') no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
footer{
    max-width: 1350px;
    margin: 0 auto;
    background: url('../images/footer.png') no-repeat center center;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 80px;
}
footer p{
    line-height: 22px;
    font-size: 18px;
    text-align: left;
    color: #4C4C4C;
    font-family: Times, Times New Roman, Georgia, serif;
    font-weight: bold;
    margin-bottom: 20px;
}
footer p:last-child{
    margin-bottom: 0;
}
.footer-socials{
    gap: 20px;
    margin-top: 15px;
}
.footer-socials-item{
    width: 36px;
    height: 36px;
    max-width: 100%;
    display: flex;
}
.line{
    height: 3px;
    background: url('../images/punktir-01.png') no-repeat center center;
    background-size: cover;
}
.social-contacts{
    margin-bottom: 30px;
}
.social-contacts .social-whatsapp{
    margin-right: 0;
    width: 36px;
    height: 36px;

}
.social-contacts .social-tg{
    padding-left: 45px;
    height: auto;
    width: auto;
    background-size: 36px 36px;
    font-size: 18px;
    color: #4C4C4C;
    font-family: Times, Times New Roman, Georgia, serif;
    font-weight: bold;
    line-height: 22px;
    align-items: center;
    margin-left: 0;
}

.btn-menu{
    display: none;
}